<h1>Exibindo Cliente</h1>
<p>Nome: <%= @client.name %></p>
<p>CPF: <%= @client.document %></p>
<p>Email: <%= @client.email %></p>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar', edit_client_path(@client) %>
<%= link_to 'Deletar', client_path(@client), method: :delete, data: { confirm: "Confirma exclusão do Cliente: #{@client.name}?" } %>