<h1>Exibindo Filial</h1>
<p>Nome: <%= @subsidiary.name %></p>
<p>CNPJ: <%= @subsidiary.cnpj %></p>
<p>Endereço: <%= @subsidiary.address %></p>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar', edit_subsidiary_path(@subsidiary) %>
<%= link_to 'Deletar', subsidiary_path(@subsidiary), method: :delete, data: { confirm: 'Confirma?' } %>
