<h1>Exibindo Agendamentos</h1>
<p>Data Inicial: <%= @rental.start_date %></p>
<p>Data Final: <%= @rental.end_date %></p>
<P>Cliente: <%= @rental.client.description%>
<br>
<p>Categoria:  <%= @rental.car_category.name %></p>
<p>Status:  <%= @rental.status_rental %></p>
<p>Código:  <%= @rental.reservation_code %></p>
<p>Filial: <%= @rental.subsidiary.name%><p>
<p>Usuário: <%= @rental.users.try(:email) %>

<br>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar', edit_rental_path(@rental) %>
<%= link_to 'Deletar', rental_path(@rental), method: :delete, data: { confirm: "Confirma exclusão do agentamento?" } %>
