<h1>Nome: <%= @carcategory.name %></h1>
<h1>Diaŕia: <%= @carcategory.daily_rate %></h1>
<h1>Seguro: <%= @carcategory.car_insurance %></h1>
<h1>Seguro Terceiros: <%= @carcategory.third_party_insurance%></h1>

<%= link_to 'Voltar', root_path %>