<h1><%= @carcategory.name %></h1>
<h1><%= @carcategory.daily_rate %></h1>
<h1><%= @carcategory.car_insurance %></h1>
<h1><%= @carcategory.third_party_insurance%></h1>

<%= link_to 'Voltar', root_path %>